<nav id="nav" class="sticky top shadow background-accent color-alt z-3 flex row nowrap overflow-x-auto">
	{% unless include.appList == false %}
		<button type="button" is="app-list" id="app-menu" class="btn nav-btn" source="{{ site.data.ads.source | default: site.title | escape }}" title="Show KRV Apps Menu" hidden="">
			{% include common/icon.html icon="apps" height="22" width="22" fill="currentColor" %}
		</button>
	{% endunless %}
	{% for link in site.data.links.nav %}
		<a href="{{ link.href }}" class="nav-link center inline-block{% if link.href == page.url %} active no-pointer-events{% endif %}" title="{{ link.label | escape }}" rel="{{ link.rel | join: ' ' }}" target="{{ link.target | default: '_self' }}">
			{% if link.icon %}{% include common/icon.html icon=link.icon %}<br class="nav-item-br" />{% endif %}
			<span class="nav-link-label">{{ link.label }}</span>
		</a>
	{% endfor %}
	<span class="grow-4"></span>
	{% if site.service_worker %}
		<button type="button" is="pwa-install" id="install-btn" class="btn nav-btn" src="{{ site.service_worker }}" scope="/" title="Install Web App" reloadonupdate="" hidden="">
			<img src="https://cdn.kernvalley.us/img/logos/pwa-badge.svg" height="53" width="180" crossorigin="anonymous" referrerpolicy="no-referrer" loading="lazy" decoding="async" alt="Install PWA badge" class="badge pwa-badge" />
		</button>
	{% endif %}
</nav>
