{% capture url %}
	{% if include.params | size > 0 %}
		{% capture params %}
			{% for param in include.params %}
				{{ param[0] | url_encode }}={{ param[1] | url_encode }}
				{% unless forloop.last %}&amp;{% endunless %}{% endfor %}
		{% endcapture %}
		{% assign parts=include.url | split: '#' %}
		{% assign passed_url=parts | first %}
		{% assign passed_hash=parts[1] %}
		{% comment %}@TODO handle URLs with hashes instead of stripping{% endcomment %}
		{% if passed_url contains "?" %}
			{{ passed_url | append: '&amp;' | append: params | strip }}
		{% else %}
			{{ passed_url | trim | append: '?' | append: params | strip }}
		{% endif %}
	{% else %}
		{{ include.url }}
	{% endif %}
{% endcapture %}{% if include.hash %}{{ url | append: '#' | append: include.hash | strip |strip_newlines | remove: '	' }}{% elsif passed_hash %}{{ url | append: '#' | append: passed_hash | strip | strip_newlines | remove: '		' }}{% else %}{{ url | strip | strip_newlines  | remove: '	' }}{% endif %}
